# Ignore everything by default
*

# Allow directories
!*/

# Explicitly track only required project files
!.gitignore
!patch_24_7_servers.py
!patch_nightshutdown_servers.py
!.env
!wallethr_lab_infra.yaml
